{plugins, [pc]}.

{provider_hooks, [{pre, [{compile, {pc, compile}}, {clean, {pc, clean}}]}]}.

{clean_files, ["priv"]}.

{port_specs, [{"priv/elib_gd_drv.so", ["c_src/elib_gd_drv.c"]}]}.

{port_env, [{"CFLAGS", "$CFLAGS -I /usr/local/include -I/usr/local/include/freetype2 -I/usr/include -I/usr/include/freetype2 --std=c99"},
            {"LDFLAGS", "$LDFLAGS -L /usr/local/lib -L /usr/lib -lgd"}]}.
