%% $Id: rebar.config 30431 2012-09-05 20:46:29Z olgeni $

{ clean_files, ["priv"] }.

{ port_env, [{ "CFLAGS", "$CFLAGS -I /usr/local/include -I/usr/local/include/freetype2 -I/usr/include -I/usr/include/freetype2 --std=c99" },
             { "LDFLAGS", "$LDFLAGS -L /usr/local/lib -L /usr/lib -lgd" }] }.
